.modal-content-token {
  margin: auto;
  text-align: center;

  .modal-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;

    img {
      width: 100%;
    }
  }

  .modal-user {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
  }

  .modal-valid-token {
    color: rgb(20, 20, 255);
    text-align: center;
    padding-bottom: 20px;
  }

  .modal-input-token {
    padding-top: 10px;

    input {
      width: 300px;
      text-align: center;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      height: 35px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  .modal-input-message {
    padding-top: 10px;

    input {
      width: 300px;
      text-align: center;
      border: 1px solid #cfcfcf;
      border-radius: 5px;
      height: 35px;
      background-color: #e7e7e7;
    }
  }
}

.modal-content-otp {
  .modal-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
  }
}
