.home-body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding-top: 15px;
    .body-sideleft {
        width: 25%;
    }
    .body-content {
        width: 700px;
        overflow: hidden;
    }
    .body-sideright {
        width: 25%;
        display: flex;
        justify-content: center;
    }
}
