.home-body {
  max-width: 90vw;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  .body-sideleft {
    width: 25%;
  }

  .body-content {
    width: 50%;
    overflow: hidden;
    padding: 0 30px;
    @media screen and (max-width: 992px) {
      width: 100%;
      padding: 0 15px;
    }
  }

  .body-sideright {
    width: 25%;
    display: flex;
    justify-content: center;
  }
}
