.post-controller {
  .post {
    border-radius: 15px;
    padding: 15px 20px 20px;
    background-color: white;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .post-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .post-header-left {
        display: flex;
        align-items: center;
        .post-logo {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .post-name-time {
          text-align: left;
          padding-left: 20px;
          .post-name {
            font-weight: bold;
            font-size: 18px;
            color: #111;
          }
          .post-time {
            color: grey;
          }
        }
      }
      .post-header-right {
        width: 150px;
        font-size: 16px;
        b {
          font-size: 18px;
        }
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
    .post-detail {
      width: 100%;
      text-align: left;
      display: block;
      padding-top: 10px;
      word-wrap: break-word;
      .post-title {
        text-align: left;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
    .post-image {
      width: 100%;
      margin: 10px 20px 20px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
        min-height: 450px;
        max-height: 600px;
      }
    }
    .post-emotion {
      width: 95%;
      display: flex;
      justify-content: space-between;
      .post-emotion-up {
        display: flex;
        .post-emotion-like,
        .post-emotion-vote,
        .post-emotion-push {
          display: flex;
          align-items: center;
          font-weight: 600;
          color: #636b75;
          font-size: 20px;
          margin-right: 40px;
          svg {
            margin-right: 10px;
          }
        }
      }
    }
    .post-emotion-share {
      display: flex;
      align-items: center;
      font-weight: 600;
      color: #636b75;
      svg {
        margin-right: 10px;
        color: #1877f2;
        font-size: 25px;
      }
      button {
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .post-controller {
    .post {
      padding: 13px 10px 10px;
      .post-header {
        .post-header-left {
          .post-logo {
            width: 40px;
            height: 40px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .post-name-time {
            .post-name {
              font-size: 16px;
            }
            .post-time {
              font-size: 12px;
            }
          }
        }
      }
      .post-detail {
        .post-title {
          font-size: 16px;
        }
      }
      .post-image {
        img {
          min-height: inherit;
          max-height: inherit;
        }
      }
      .post-emotion {
        justify-content: space-between;
        .post-emotion-up {
          display: flex;
          .post-emotion-like,
          .post-emotion-vote,
          .post-emotion-push {
            font-size: 20px;
            margin-right: 0;
            button {
              padding: 0;
            }
            svg {
              margin-right: 5px;
              font-size: 27px;
            }
          }
        }
        .post-emotion-up {
          display: flex;
          align-items: center;
          justify-content: space-around;
          .post-emotion-like {
            padding-right: 20px;
          }
        }
        .post-emotion-share {
          svg {
            margin-right: 5px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
