.wrapper {
    height: 100vh;
    background-image: linear-gradient(to right, #e9c0c6, #8ec0f5);
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        margin: auto;
        background-color: rgba(255, 255, 255, 0.212);
        width: 430px;
        border-radius: 15px;
        .title {
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                color: black;
                margin-top: 50px;
                margin-bottom: 0;
            }
            p {
                color: #7e7e7e;
                margin-top: 5px;
            }
        }
        .card {
            margin: 10px auto 60px;
            text-align: center;
            font-size: 18px;
            input {
                width: 280px;
                margin: 10px auto;
                height: 38px;
                font-size: 14px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 10px;
                border: 1px solid #7e7e7e;
            }
            .invalid-feedback {
                margin: 5px;
                color: rgba(194, 6, 6, 0.904);
            }
            button {
                margin-top: 20px;
                border-radius: 10px;
                cursor: pointer;
                width: 300px;
                height: 40px;
                border: none;
                color: white;
                background-color: #307ab9;
                font-size: 18px;
                &:disabled {
                    background-color: grey;
                    color: rgba(255, 255, 255, 0.61);
                }
            }
            .signup {
                color: #7e7e7e;
                padding-top: 20px;
            }
        }
    }
}
