.token-policy {
  margin: auto;
  width: 70%;
  .token-policy-header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .token-policy-part {
    .token-policy-title {
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 5px;
    }
    .token-policy-content {
      line-height: 25px;
      font-size: 16px;
      p {
      }
      ul > li {
        padding-top: 10px;
        &.topic {
          font-size: 18px;
          font-weight: bold;
          & > ul {
            font-size: 16px;
            font-weight: normal;
          }
        }
      }
    }
  }
}
