.token-owner-controller {
  width: 350px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: white;
  padding-bottom: 20px;
  overflow: hidden;
  .token-owner-header {
    font-size: 18px;
    display: flex;
    font-weight: bold;
    font-size: 24px;
    height: 90px;
    background-image: url(https://www.redditstatic.com/desktop2x/img/leaderboard/banner-background.png);
    background-position: center;
    align-items: flex-end;
    padding: 5px;
    color: white;
  }
  .token-owner {
    display: flex;
    width: 100%;
    margin: 15px;
    color: #111;
    align-items: center;
    .token-owner-left {
      display: flex;
      align-items: center;
      .token-owner-position {
        margin-right: 15px;
        font-weight: bold;
      }
      .token-owner-logo {
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
        width: 50px;
        height: 50px;
        img {
          width: 100%;
        }
      }
    }
    .token-owner-detail {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      align-items: center;
      .token-owner-name {
        font-weight: 600;
        width: 160px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .token-owner-token {
        width: 70px;
        text-align: right;
        font-weight: 600;
      }
    }
  }
}
button.token-owner-all {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  background-color: #0079d3;
  color: white;
  font-weight: bold;
  width: 90%;
  margin: auto;
  padding: 8px 20px;
  border-radius: 30px;
}
